footer {
  padding-bottom: 0.5rem;
  color: black;
}

.footerLink a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 3.5rem 1rem;
  font-size: 1.1rem;
  color: black;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
}
